.novel-card {
    width: 100%;
    border-radius: 8px;
    transition: all 0.3s ease;
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.novel-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.novel-card-cover {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.novel-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.novel-card:hover .novel-card-image {
    transform: scale(1.05);
}

.novel-card-title-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: --background-color;
    padding: 20px 10px 10px 10px;
}

.novel-card-title {
    color: white;
    font-size: 16px;
    font-weight: bold;
}
