.loadMoreContainer {
    text-align: center !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    height: 160px !important;
}

.noMoreText {
    color: #999 !important;
}
