.bookDetailContainer {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 20px !important;
    margin-bottom: 20px !important;
}

.bookCover {
    border-radius: 8px !important;
    object-fit: cover !important;
}

.bookInfo {
    flex: 1 !important;
    min-width: 300px !important;
}

.actionButtons {
    margin-top: 16px !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

.spinContainer {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
}

.spinner {
    margin: auto !important;
    color: #1890ff !important;
}
